.header { grid-area: header; }
.search { grid-area: search; }
.youtube { grid-area: youtube; }
.playlist { grid-area: playlist; }
.footer { grid-area: footer; }
.playing { grid-area: playing; }

.App {
  display: grid;
  grid-template-areas: 'header header header header header'
                       'search search youtube youtube youtube'
                       'playlist playlist youtube youtube youtube'
                       'playlist playlist playing playing playing'
                       'footer footer footer footer footer';
  border: 2px solid green;
  text-align: left;
  margin: 0;
  padding: 0;
  text-align: justify;
  background-color: lightgrey;
}
