.header { grid-area: header; }
.search { grid-area: search; }
.youtube { grid-area: youtube; }
.playlist { grid-area: playlist; }
.footer { grid-area: footer; }
.playing { grid-area: playing; }

.App {
  display: grid;
  grid-auto-columns: repeat(5, 1fr);
  grid-template-rows: 1.5fr 3fr 3fr 3fr .5fr;

  grid-template-areas: 'header header header header header'
                       'search search youtube youtube youtube'
                       'playlist playlist youtube youtube youtube'
                       'playlist playlist playing playing playing'
                       'footer footer footer footer footer';
  text-align: left;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;
  background-color: lightgrey;
}

body {
  margin: 0;
  padding: 0;
  height: 0px;
  font-family:  -apple-system, BlinkMacSystemFont,  "Roboto", "Oxygen", "Segoe UI",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  overflow: hidden;
  background-color: wheat;
}

.header {
  font-family: "BeautySchoolDropoutII";
  font-size: 5rem;
  color: #4400D6;
  padding: 1%;
  padding-top: 2.5vh;

  border-bottom: 2px solid grey;
  margin: 0;
  text-shadow: -3px 4px 0px aqua;
  text-align: inherit;

}

.search, .playlist {
  display: grid;
  border-right: 1px solid grey;
  border-bottom: 2px solid grey;
  min-width: 40vw;
  min-height: 9rem;
  grid-column-start: 1;
  grid-column-end: 3;
  padding-top: 2vh;

}

.youtube, .playing {
  display: grid;
  border-left: 1px solid grey;
  border-bottom: 2px solid grey;
  min-width: 60vw;
  min-height: 9rem;
}


.youtube {
  justify-content: space-around;
  align-content: space-around;
}
.youtubePlayer {
  box-shadow: -5px 5px 3px purple;
}

.playing {
  padding-top: 1vh;

}
.footer {
  /* border-top: 1px solid grey; */
  max-height: 5vh;
  display: flex;

}
.copyright {
  flex-direction: column;
  margin-left: 5vw;
  width: 40vw;
  padding-top: 1vh;
}
.contact {
  flex-direction: column;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 40vw;
  padding-top: 1vh;

}
p {
  margin: 0;
}
